@font-face {
  font-family: "ReturnofGanon";
  src:url("../font/ReturnofGanon.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #444;
}


#game {
  width: 60%;
  height: 40%;
  background-image: url('../images/zelda_bcg.png');
  background-repeat : no-repeat;
  background-size: cover;
  position: relative;

}


#myCanvas{
width: 100%;

display:block;;

}
.titre {
  font-family: 'ReturnofGanon';
  font-size: 60px;
  color: white;
  top:10%;
  text-align: center;

}
.text {
  top: 10%;
  display: none;
  width: 50%;
  margin: 0 25%;
}
.text_gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#image3{
visibility:hidden;
}
.link {
  font-size:40px;
  color: white;
  text-decoration: none;
  font-family: 'ReturnofGanon';
  top: 32%;


}
#ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background:url('../styles/images/flamme.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coeur_img {
  position: absolute;
  top: 1%;
  
  
}
.image {
  width: 20px;
  height: 20px;
  
}